.createTicket {
        display: flex;
        border: 1px solid black;
        height: 100%;
        flex-direction: column;
        align-items: center;
}

textarea {
        resize: none;
}

.createTicketForm {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
}