.App {
  text-align: center;
}

.navbar {
  border: black 1px solid;
  display: flex;
  height: 20vh;
  justify-content: space-evenly;
}

.navbar-knapper {
  display: flex;
  width: 100%;
}


.goofy_ah_container {
  border: red 1px solid;
  width: 100%;
  height: 100%;
  text-align: center;
}

.table-container {
  overflow-y: auto;
  overflow-x: auto;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px; /* Smaller padding */
  margin: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.styled-table {
  width: 100%;
  border-collapse: collapse;
  font-size: 1em; /* Adjust font size as needed */
}

.styled-table th, .styled-table td {
  border: 1px solid #ddd;
  padding: 6px; /* Smaller padding */
  text-align: center;
}

.styled-table th {
  background-color: #f2f2f2;
}
